.navbar{border-radius: 0px;}
.navbar{background-image:url("Images/navimage.jpg");}
.fontcolor{color:white;}
.margin{margin:10px;}
.background{background-image:url("Images/background.jpg");}
.background1{background-image:url("Images/background1.jpg");}
th{color:white;}
.tablebg{background-color:#cc0000;}